#guest-home {
    .card {
        height: 300px;
    }

    .card-body {
        overflow: auto;
        padding-right: 26px;
    }

    .card-body::-webkit-scrollbar {
        width: 10px;
    }

    .card-body::-webkit-scrollbar-track {
        background: white;
    }

    .card-body::-webkit-scrollbar-thumb {
        background: rgba(42, 41, 41, 0.383);
    }

}